---
import Layout from "../layouts/Layout.astro";
---
<Layout title="404 not found" description="this page isnot existing..yet">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-3xl text-center">This page does not exist... yet</h1>
        <img src="https://i.makeagif.com/media/2-18-2016/ugLWUJ.gif" alt="404">
    </div>
</Layout>