---
import Layout from "../layouts/Layout.astro";
import "@fontsource/fjalla-one";
import Indexlearning from '../components/index/Indexlearning.astro'

let birthdate = new Date("1997-08-29");
let today = new Date();
let age = today.getFullYear() - birthdate.getFullYear();
let preAge = age - 1;
---

<Layout
	title="Nicolás' Portfolio -  Front-End developer"
	description="Open to work to web development using React, Astro, Tailwind"
>
	<section
		class="mx-auto bg-gray-950 w-[95%] sm:w-3/3 md:w-full p-4 rounded-b-2xl sm:rounded-2xl py-4 px-8"
	>
		<div class="flex flex-col w-full gap-x-2">
			<article class="flex items-start">
				<span
					class="pretitle flex text-5xl mr-2 bg-gradient-to-r from-purple-200 to-purple-500 bg-clip-text text-transparent"
					>✹</span
				>
				<h1 class="text-2xl">
					Hello there, I'm that guy
					<p
						class="name text-lg sm:text-xl tracking-wider font-bold text-purple-200 before:content-['☝🏻'] sm:before:content-['👈🏻'] text-"
					>
						Nicolás
					</p>
				</h1>
			</article>
			<main class="sm:w-[350px] md:w-92 lg:w-[510px] xl:w-[650px]">
				<p class="uppercase mt-4 font-semibold">
					i am a <span class="highlight">front-end developer</span> based
					in colombia (currently I'm <span
						class="line-through decoration-double">{preAge}</span
					>
					{age} years old) Focus on <span
						class="font-bold bg-gradient-to-r from-sky-300 to-blue-400 bg-clip-text text-transparent"
						>react</span
					> but always open and curious to learn.
				</p>
				<p class="uppercase mt-4 font-semibold">
					While I may not be an engineer, I have always been someone
					eager to learn new things, <span class="highlight"
						>constantly seeking ways to improve</span
					>. This passion led me into the realm of software
					development.
				</p>
				<p class="uppercase mt-4 font-semibold">
					<span class="highlight"
						>Creating has always been something that fulfills and
						motivates me</span
					>, propelling me to work in various companies where I
					contribute my creative value and allowing me to grow
					professionally
				</p>
				<Indexlearning />
			</main>
		</div>
	</section>

	<style>
		@font-face {
			font-family: "MigraItalic-ExtralightItalic";
			src: url("/fonts/MigraItalic-ExtralightItalic.ttf")
				format("truetype");
		}
		h1,
		.highlight, h2 {
			font-family: "Fjalla One", sans-serif;
		}
		.highlight {
			background-image: linear-gradient(
				to right,
				rgb(239, 40, 40),
				rgb(241, 54, 207)
			);
			-webkit-background-clip: text;
			color: transparent;
			letter-spacing: 0.05em;
		}
		.pretitle,
		.name {
			font-family: "MigraItalic-ExtralightItalic", italic;
		}
	</style>
</Layout>
