---
import Layout from "../layouts/Layout.astro";
import "@fontsource/fjalla-one";
import Indexlearning from "../components/index/Indexlearning.astro";

---

<Layout
	title="Nicolás' Portfolio -  Front-End developer"
	description="Open to work to web development using React, Astro, Tailwind"
>
	<section
		class="mx-auto bg-gray-950 w-[95%] sm:w-3/3 md:w-full p-4 rounded-b-2xl sm:rounded-2xl"
	>
		<div class="flex flex-col w-full gap-x-2">
			<article class="flex items-start">
				<span
					class="pretitle flex text-5xl mr-2 bg-gradient-to-r from-purple-200 to-purple-500 bg-clip-text text-transparent"
					>✹</span
				>
				<h1 class="text-2xl">
					Hello there, I'm that guy
					<p
						class="name text-lg sm:text-xl tracking-wider font-bold text-purple-200 before:content-['☝🏻'] sm:before:content-['👈🏻'] text-"
					>
						Nicolás
					</p>
				</h1>
			</article>
			<main
				class="sm:w-[395px] md:w-[415px] sm:mt-2 lg:w-[560px] xl:w-[730px]"
			>
				<p class="uppercase mt-4 font-semibold">
					i am a <span class="highlight">front-end developer</span> based
					in colombia, mainly focus on <span
						class="font-bold bg-gradient-to-r from-sky-300 to-blue-400 bg-clip-text text-transparent"
						>react.</span
					> Not exactly an engineer, but always vibing with the idea of
					picking up new skills. That vibe led me into the whole software
					development scene.
				</p>
				<p class="uppercase mt-4 font-semibold">
					Creating has always been something that fulfills and
						motivates me, propelling me to work in companies where <span class="highlight"
						>I contribute my
					creative value </span> and allowing me to grow professionally.
				</p>
				<p class="uppercase mt-4 font-semibold">
					Some of my achievements include enhancing Excel database
					structures, streamlining processes, and automating tasks to
					boost efficiency in one role. In another, <span class="highlight">I played a key
					part </span>in successfully launching an app by handling front-end
					implementation, ensuring a seamless user experience. These
					experiences underscore my dedication to delivering
					high-quality work in collaborative environments.
				</p>
				
				<Indexlearning />
			</main>
		</div>
	</section>

	<style>
		@font-face {
			font-family: "MigraItalic-ExtralightItalic";
			src: url("/fonts/MigraItalic-ExtralightItalic.ttf")
				format("truetype");
		}
		h1,
		.highlight,
		h2 {
			font-family: "Fjalla One", sans-serif;
		}
		.highlight {
			background-image: linear-gradient(
				to right,
				rgb(239, 40, 40),
				rgb(241, 54, 207)
			);
			-webkit-background-clip: text;
			color: transparent;
			letter-spacing: 0.05em;
		}
		.pretitle,
		.name {
			font-family: "MigraItalic-ExtralightItalic", italic;
		}
	</style>
</Layout>
