---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro'
---

<Layout 
title="Nicolás' Portfolio -  Front-End developer"
description="Open to work to web development using React, Astro, Tailwind">
	<main>
	</main>
</Layout>

