---
import Layout from "../layouts/Layout.astro";
import "@fontsource/fjalla-one";
import ToDo from "../img/ToDo.webp";
import { Image } from "astro:assets";
import Dragon from "../img/Dragon.jpeg";
import ProyectCard from "../components/Proyects/ProyectCard.astro";
import React from "../components/icons/React.astro";
import JavaScript from "../components/icons/JavaScript.astro";

const proyects = [
    {
        name: "Task Manager",
        image: ToDo,
        description:
            "Our web app, currently available only for desktop view, serves as a task manager where tasks can be categorized by status. It also includes weather information thanks to API integration.",
        technologies: [
            {
                name: "React",
                icon: React,
            },
            {
                name: "JavaScript",
                icon: JavaScript
            },
        ],
    },
];
---

<Layout
    title="Nicolás' Proyects -  Front-End developer"
    description="This is some of my proyects where you can see the technologies that i've been using"
>
    <section
        class="mx-auto bg-gray-950 w-[95%] sm:w-3/3 md:w-full p-4 rounded-b-2xl sm:rounded-2xl"
    >
        <div class="flex flex-col w-full gap-x-2">
            <article class="flex items-start">
                <span
                    class="pretitle flex items-center text-5xl mr-2 bg-gradient-to-r from-purple-200 to-purple-500 bg-clip-text text-transparent"
                    >✹</span
                >
                <h1 class="text-xl">
                    Explore a glimpse of my work, where creativity meets code.
                    <p
                        class="name opacity-0 md:opacity-100 text-lg sm:text-xl tracking-wider font-bold text-purple-200 md:before:content-['⌨️'] text-"
                    >
                        Proyects
                    </p>
                </h1>
            </article>
            <main
                class="flex flex-col items-center justify-center sm:w-[395px] md:w-[465px] sm:mt-2 lg:w-[560px] xl:w-[730px]"
            >
            {
                proyects.map((proyect) => (
                    <ProyectCard 
                    name={proyect.name}
                    image={proyect.image}
                    description={proyect.description}
                    technologies={proyect.technologies}
                    />
                ))
            }
            </main>
        </div>
    </section>
</Layout>

<style>
    @font-face {
        font-family: "MigraItalic-ExtralightItalic";
        src: url("/fonts/MigraItalic-ExtralightItalic.ttf") format("truetype");
    }
    h1 {
        font-family: "Fjalla One", sans-serif;
    }
    .name {
        font-family: "MigraItalic-ExtralightItalic", italic;
    }
    .main {
        scrollbar-width: none;
    }
</style>
