---

---

<header class="flex flex-row justify-center items-center  w-full py-2 fixed top-0 left-0 right-0">
	<nav class="flex flex-row  justify-between w-full items-center px-6 ">
		<div class="flex pl-10 w-1/3  hover:cursor-default">
			<h1 class="logo text-6xl"> - N </h1>
		</div>

		<div class="flex flex-row justify-center items-center text-lg gap-x-8 w-1/2 mx-auto  rounded-2xl backdrop-blur-md bg-sky-300/20 py-4">
			<a href="#about" class=" text-black font-semibold hover:bg-gradient-to-r from-red-500 to-orange-500 bg-clip-text hover:text-transparent transition">About</a>
			<a href="#Experience" class="text-black font-semibold hover:bg-gradient-to-r from-red-500 to-orange-500 bg-clip-text hover:text-transparent transition">Experience</a>
			<a href="#Proyects" class="text-black  font-semibold hover:bg-gradient-to-r from-red-500 to-orange-500 bg-clip-text hover:text-transparent transition">Proyects</a>
		</div>
	</nav>
</header>

<style>
	@font-face {
		font-family: "Handwind";
		src: url("/fonts/Handwind.ttf") format("truetype");
	}
	.logo {
		font-family: "Handwind", cursive;
		font-weight: 900;
		color: transparent;
		background-image: linear-gradient(
			160deg,
			#b70606,
			#e8c23a
		);
		background-clip: text;
		-webkit-background-clip: text;
		
	}
</style>
