---
import Photo from "./Photo.astro"
---

<section class="flex flex-col justify-center items-center relative rounded-2xl ml-2 bg-gray-950 w-1/3 p-4">
    <!-- <div class=" flex justify-center w-2/3 bg-red-400/60 h-80 rounded-lg absolute -top-80"> -->
        <div class="first:absolute h-80 -top-64 lg:-top-80">
            <Photo />
        </div>
    <!-- </div> -->
    <div class="mt-20">    
        <h1 class="name text-4xl cursor-default" title="Nicolás García López">Nicolas Garcia Lopez</h1>
        <section class="flex justify-center items-center bg-gray-400/20 px-4 py-2 mt-4 rounded-md w-1/3 mx-auto">
            <h2 class="text-white/60">Front-End</h2>
        </section>

    </div>
</section>
<style>
@font-face {
		font-family: "Handwind";
		src: url("/fonts/Handwind.ttf") format("truetype");
	}
    .name{
        font-family: "Handwind", cursive;
    }
</style>