---
import SocialButton from "./SocialButtons.astro";
import Github from "../icons/Github.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Email from "../icons/Email.astro";
---

<nav class=" flex flex-row flex-wrap justify-center items-center mt-4 gap-2">
    <SocialButton  href="https://github.com/XnicolasG">
        <Github class="size-4 md:size-6" />
        <article class="flex flex-col overflow-hidden h-8 justify-center items-center transition-all duration-200 ">
            <p class="translate-y-3 group-hover:-translate-y-full group-hover:opacity-0 transition-all duration-300 ">Github</p>
            <p class="translate-y-full group-hover:-translate-y-3 transition-all duration-300 ">XnicolasG</p>
        </article>
    </SocialButton>
    <SocialButton
        href="https://www.linkedin.com/in/nicolas-garcia-lopez-frontend"
    >
        <LinkedIn class="size-4 md:size-6" />
        <article class="flex flex-col  overflow-hidden h-8 justify-center items-center transition-all duration-200 ">
            <p class="translate-y-3  group-hover:-translate-y-full group-hover:opacity-0 transition-all duration-300 ">LinkedIn</p>
            <p class="translate-y-full group-hover:-translate-y-3 transition-all duration-300">Nicolás G</p>
        </article>
    </SocialButton>
    <SocialButton href="mailto:nicolasg.ngl@gmail.com">
        <Email class="size-4 md:size-6" />
        <article class="flex flex-col  overflow-hidden h-8 justify-center items-center transition-all duration-200 ">
            <p class="translate-y-3  group-hover:-translate-y-full group-hover:opacity-0 transition-all duration-300 ">Email</p>
            <p class="translate-y-full group-hover:-translate-y-3 transition-all duration-300">Nicolasg.ngl</p>
        </article>
    </SocialButton>
</nav>
