<a 
class="rounded-full border border-white/10 flex justify-center items-center cursor-pointer
gap-x-2 py-1 px-2 text-sm lg:text-base md:py-0.5 md:px-4 bg-white/5 hover:scale-105 hover:bg-gradient-to-r from-red-500 to-pink-600 transition"
{...Astro.props}
target="_blank"
rel="noopener noreferrer"
>
    <slot />
</a>