---
interface Props{
    Date: string,
    Title: string,
    Description: string
}
---
<article class="flex w-[95%] bg-gray-400/20">
    <p class="text-gray-300">{Date}</p>
    <h1 class="text-lg bg-gradient-to-r from-red-400 to-pink-600 bg-clip-text text-transparent">
        {Title}
    </h1>
    <p>
        {Description}
    </p>
</article>