---
import Card from "./Card.astro";
const EXPERIENCE = [
    {
        Date: "March 2022 - April 2023",
        Title: "Developer Jr - IOIP",
        Description: `Designing BIM workflows adapted to client requirements. Customizations crafted through JavaScript and SQL queries. 
            Utilizing React (JS, TS) for product code support and Blazor for product development.`,
    },
    {
        Date: "March 2021 - September 2021",
        Title: "Cost analyst - Restaurante La Lupita",
        Description:
            `Utilization of tools such as Excel for optimal database creation, automated price and cost control with VBA assistance.
             Additionally, adept use of Power BI for data processing and analysis, facilitating informed decision-making.`,
    },
];
---

<section class="">
    {
        EXPERIENCE.map((it) => (
            <div class="mb-10 ms-4">
                <Card {...it} />
            </div>
        ))
    }
</section>
