---
import SocialButtons from "../SocialNav/SocialButtons.astro";

import type { AstroComponentFactory } from "astro/runtime/server/render/index.js";

type Techs = {
    name: string,
    icon: AstroComponentFactory
}

const { TECHS, TOOLS } = Astro.props

const items = TECHS || TOOLS

---

<section class="relative flex w-60 sm:w-40 md:w-52 lg:w-96 mx-auto overflow-hidden bg-black rounded-xl">
    <div
        class={`flex flex-row justify-center items-center w-full ${TECHS ? 'horizontal-slide' : 'horizontal-slide-tools' }`}
    >
        {
            [...items, ...items].map((tech:Techs) => ( 
                <span class="inline-flex m-2 transition duration-100">
                    <SocialButtons>
                        <tech.icon class="size-4" /> 
                        {tech.name}
                    </SocialButtons>
                </span>
            ))
        }
    </div>
</section>

<style>
    .horizontal-slide {
        animation: InfiteSlide 15s linear infinite;
    }
    @keyframes InfiteSlide {
        0% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(100%);
        }
    }
    .horizontal-slide-tools {
        animation: InfiteSlideToLeft 10s linear infinite;
    }
    @keyframes InfiteSlideToLeft {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>
